<app-feedback></app-feedback>
<div class="page">
  <div class="game_container">
    <div class="header_line_container">
      <div class="title_container">
        <app-title></app-title>
        <app-subtitle></app-subtitle>
      </div>
      <div class="data_container">
        <div class="data_line">
          <app-score></app-score>
          <app-score-add></app-score-add>
          <app-record></app-record>
        </div>
        <app-new-game></app-new-game>
      </div>
    </div>
    <div class="board_container">
      <app-board></app-board>
    </div>
  </div>
</div>
